@import "tailwindcss";

@import "flowbite";

@plugin "daisyui";

@plugin "daisyui/theme"{
    --color-base-100: #fbfbfe;
    --color-base-200: #f3f3f9;
    --color-base-300: #e7e7f2;
    --color-base-content: #050316;

    --color-primary: #FFDB00;
    --color-primary-content: #050316;

    --color-secondary: #c8c6c7;
    --color-secondary-content: #050316;

    --color-accent: #ffcc00;
    --color-accent-content: #050316;

    --color-neutral: #050316;
    --color-neutral-content: #fbfbfe;

    --color-info: #3abff8;
    --color-info-content: #ffffff;

    --color-success: #36d399;
    --color-success-content: #064e3b;

    --color-warning: #fbbd23;
    --color-warning-content: #7c2d12;

    --color-error: #f87272;
    --color-error-content: #ffffff;

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;

    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    --border: 1px;
    --depth: 0;
    --noise: 0;
}